<div class="container-fluid">
    <div class="jumbotron" style="background-color:#ebf1f2">
        <h1>Pay Januray premium</h1>
    </div>
    <form name="fill_personal" role="form">
        <div class="card" >
            <div class="card-body">
                <h2 class='text-center'>Premium : <span class="text-green">₹{{premium}}</span></h2>
                <h3 class="text-center font-weight-bold blue-text mt-3 mb-4 pb-4"><strong>SLIDE TO SEE THE PRICE CHANGE</strong></h3>
                <hr>
                <form class="range-field my-5">
                    <div class="d-flex justify-content-center my-4 pt-3">
                        <span class="font-weight-bold indigo-text mr-2 mt-1">₹</span>
                        <form class="range-field w-75">
                            <input class="border-0" type="range" min="0" max="100" ng-model="slider_range" ng-change="calculateDiscount()" style="width:800px;" />
                        </form>
                        <span class="font-weight-bold indigo-text ml-2 mt-1">£</span>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-5 text-center pb-5">
                        <h2 class="display-8" style="color:#0d47a1"><strong>{{rupee_range}}%</strong></h2>
                        <h2><span class="badge blue lighten-2 mb-4">Rupees</span></h2>
                        <h2 class="display-8" style="color:#0d47a1"><strong id="resellerEarnings">{{premium_rupees}}₹</strong></h2>
                    </div>
                    <div class="col-md-2 text-center">
                      <span style="font-size:45px"><b style="color:#ff6666">+</b></span>
                    </div>
                    <div class="col-md-5 text-center pb-5">
                        <h2 class="display-8" style="color:#0d47a1"><strong>{{gbp_range}}%</strong></h2>
                        <h2><span class="badge red lighten-2 mb-4">GBP</span></h2>
                        <h2 class="display-8" style="color:#0d47a1"><strong id="clientPrice">{{premium_gbp}}£</strong></h2>
                    </div>
                </div>
                <center><h2><span class="badge purple lighten-2 mb-4">Discount = {{discount}}%</span></h2></center>
                <center><h3 class="text-center font-weight-bold green-text mt-3 mb-4 pb-4"><strong>AFTER DISCOUNT</strong></h3></center>
                <hr>
                <div class="row">
                    <div class="col-md-5 text-center pb-5">
                        <h2><span class="badge blue lighten-2 mb-4">Rupees</span></h2>
                        <h2 class="display-8" style="color:#0d47a1"><strong id="resellerEarnings">{{payable_rupees}}₹</strong></h2>
                    </div>
                    <div class="col-md-2 text-center">
                      <span style="font-size:45px"><b style="color:#ff6666">+</b></span>
                    </div>
                    <div class="col-md-5 text-center pb-5">
                        <h2><span class="badge red lighten-2 mb-4">GBP</span></h2>
                        <h2 class="display-8" style="color:#0d47a1"><strong id="clientPrice">{{payable_gbp}}£</strong></h2>
                    </div>
                </div>
                <h2 class='text-center'>Payable Premium : <span class="text-green">₹{{payable_premium}}</span></h2>
            </div>
            <center><button type="button" class="btn btn-success" name="pay" data-toggle="modal" data-target="#gridSystemModal">Pay <i class="fas fa-money-bill-alt"></i></button>&nbsp;
        </div>
      </form>
    <br>
    <br>
</div>
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="gridModalLabel">Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row  table-responsive">
            <table  class="table">
              <thead>
                <tr>
                  <th>Sno.</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>{{payable_rupees}}₹</td>
                  <td><button type="button" class="btn btn-primary" ng-click="finalPay()">Pay <i class="fas fa-money-bill-alt"></i></button></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>{{payable_gbp}}£</td>
                  <td><button type="button" class="btn btn-primary" ng-click="finalPay()">Pay <i class="fas fa-money-bill-alt"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
