<div class="container-fluid">
    <div class="jumbotron" style="background-color:#ebf1f2">
        <h1>PERSONAL DETAILS FORM</h1>
    </div>
    <div class="card">
      <div class="card-body">

    <form name="fill_personal" role="form">

        <div class="row">
            <div class="col-md-2">
                <label for="dob">Date of Birth : <span class="text-red">*</span></label>
            </div>
            <div class="col-md-4">
                <input type="date" name="dob" ng-model="dob" class="form-control" required>
            </div>
            <div class="col-md-2">
                <label for="occupation">Occupation : <span class="text-red">*</span></label>
            </div>
            <div class="col-md-4">
                <input type="text" name="occupation" class="form-control" ng-model="occupation" placeholder="Occupation" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label for="weight">Weight : <span class="text-red">*</span></label>
            </div>
            <div class="col-md-4">
                <input type="number" name="weight" ng-model="weight" class="form-control" placeholder="Weight" required>
            </div>
            <div class="col-md-2">
                <label for="occupation">Height : <span class="text-red">*</span></label>
            </div>
            <div class="col-md-4">
                <input type="number" name="height" class="form-control" ng-model="height" placeholder="Height" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label for="health_condition">Preexisting Health Condition : <span class="text-red">*</span></label>
            </div>
            <div class="col-md-10">
              <textarea name="health_condition" class="form-control" rows="8" cols="80" ng-model="health_condition" placeholder="Preexisting Health Condition" required></textarea>
            </div>
        </div>
        <br>
        <center>Premium(Per Month) : <b class="text-green">₹ {{premium}}<b></center>
          <br>
        <center><button type="button" class="btn btn-success" ng-disabled="fill_personal.$invalid" ng-click="pay()" name="pay">Pay & Clear <i class="fas fa-money-bill-alt"></i></button>&nbsp;
            <button type="button" class="btn btn-warning" name="clear" ng-click="clear()">Clear <i class="fa fa-trash"></i></button></center>
    </form>
  </div>
</div>
    <br>
    <br>
</div>
